page-login {
    $base-color: rgb(24, 72, 90);
    // Fullscreen centered image background
    .slide-image {
      max-height: 50%;
        max-width: 60%;
        margin-left: 17%;
        padding-top: 70px;
    }

    .form{
      padding: 0px 25px;;
    }

    // Content
    .scroll-content {
      background: #ffffff59;
      // display: flex;
      flex-direction: column;
      // overflow: hidden;
    }
    .logo {
      width: 100%;
      max-width: 19em;
      height: auto;
      margin: 0 auto;
    }
    ion-row {
      align-items: center;
      text-align: center;
    }
    ion-col {
      padding: 0 20px;
    }
    span,
    p,
    h3 {
      color: white;
    }
    // Input items
    ion-label,
    .input-has-focus {
      font-size: 16px;
      color: #18485a !important;
    }
    ion-item {
      border-radius: 3px !important;
      padding-right: 16px !important;
      margin-bottom: 5px !important;
      color: #18485a !important;
      background-color: transparent !important;
      font-size: 0.9em;
    }
    .margin-bottom {
      margin-bottom: 15px !important;
    }
     ::-webkit-input-placeholder {
      color: #18485a !important;
    }

    .item-label-stacked .text-input-md,
    .item-label-floating .text-input-md {
      margin-left: 0;
      margin-top: 8px;
      margin-bottom: 10px;
      margin-right: 100px;
      width: calc(100% - 26px);
    }   
    .item-inner {
      border-bottom: 2px solid white !important;
      box-shadow: none !important;
     
    }
    //
    .cadastro-button {
      margin-top: 40px;
      width: 100%;
      max-width: 40rem;
      height: 50px;
      font-size: 0.9em;
      
      background-color: #f7f2f23d;
      span {
        color: $base-color !important;
      }
      // border: 1px solid #fff;
    }
    .forgot-button {
      font-weight: bold;
      float: right;
      ion-icon {
        padding-left: 10px;
        font-size: 2.2rem;
      }
    }
    .goback-button {
      font-weight: bold;
      float: left;
      ion-icon {
        padding-right: 10px;
        font-size: 2.2rem;
      }
    }
    .slide-button {
      margin-top: 4rem;
      font-weight: bold;
      
    }
    .position-bottom {
      position: absolute;
      left: 0;
      bottom: 10px;
      right: 0;
      margin: 0 auto;
      width: 200px;
    }

    span.button-inner {
      color: #215162;
  }
  }
  